.venv
__pycache__
*.pyc
*.pyo
*.egg-info
dist
build

data/logs/*
!data/logs/.gitkeep
data/inventory_yolo/
runs/
*.pt
assets/known_faces/*.pkl

*.env
.env
secrets.yaml

.ipynb_checkpoints
.vscode
.idea
